[submodule "service/jquery.parse"]
	path = service/static/jquery.parse
	url = git@github.com:mholt/jquery.parse.git
[submodule "service/static/Tidy-Table"]
	path = service/static/Tidy-Table
	url = git@github.com:nuxy/Tidy-Table.git
