/* #staff li { */
/*     border: 1px solid grey; */
/* } */

#staff li {
    line-height: 1em !important;
}

.business-card img {
    float: right;
    max-height: 12em;
    width: auto;
}

.business-card {
}

li.business-card {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    list-style: none;
    overflow: hidden;
    line-height: 1em !important;
}

.business-card h1, .business-card h2 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.filter .tags input {
    margin: 0;
}

ul.tags {
    padding: 0 0 0.5em 0;
}

ul.tags li {
    display: inline;
    border: 1px solid black;
    border-radius: 0.5em;
    margin: 0 0.3em;
    padding: 0.3em;
/* cursor: pointer; */
}

.toggled {
    background-color: rgba(247, 245, 0, 0.53);
}

.hidden {
    display: none;
}

.edit {
    background: #ff8 !important;
}

.editable {
/* should show an indicator that the item is editable */
}

.editbutton {
    float: left;
    position: absolute;
    right: 0em;
    background-color: #666;
    color: #fff;
    padding: 1em;
    border-radius: 0.5em;
}

.row-wrapper {
    display: table-row;
}

.column {
    display: table-cell;
}

.row-wrapper .column.info {
    width: 300px;
}