/* #staff li { */
/*     border: 1px solid grey; */
/* } */

#staff li {
  line-height: 1em !important;
  list-style: none;
}

.business-card img {
  float: right;
  max-height: 12em;
  width: auto;
}

.business-card ul.contact {
  padding: 0;
}

li.business-card {
  padding: 1em;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  line-height: 1em !important;
}

.business-card h1, .business-card h2 {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.business-card h2 {
  margin-bottom: 1em !important;
}
.filter .tags input {
  margin: 0;
}

ul.tags {
  padding: 0 0 0.5em 0;
}

ul.tags li {
  display: inline;
  border: 1px solid black;
  border-radius: 0.5em;
  margin: 0 0.3em;
  padding: 0.3em;
  /* cursor: pointer; */
}

.toggled {
  background-color: rgba(247, 245, 0, 0.53);
}

.hidden {
  display: none;
}

.edit {
  background: #ff8 !important;
}

.editable {
  /* should show an indicator that the item is editable */
}

.editbutton {
  float: left;
  position: absolute;
  right: 0em;
  background-color: #666;
  color: #fff;
  padding: 1em;
  border-radius: 0.5em;
}

.on {
  background-color: #0b0;
}

.row-wrapper {
  display: block;
}

.column {
  float: left;
}

.column.info {
  width: 300px;
}

.column.description {
  margin-left: 300px;
  width: 300px;
}

.photo {
  float: right !important;
}
