{% extends "mockup.jinja2" %}
{% block content %}
{% for person in persons %}
<li id="{{ person.id }}" class="business-card">
{% if person.image_src %}
  <div>    
    <img src="{{ person.image_src }}" title="{{ person.name }}" alt="Picture of {{ person.name }}" />
  </div>
{% endif %}
  <div>
    <h1><a href="http://www.isogklima.nbi.ku.dk/ansatte/?id={{ person.kuid }}&vis=medarbejder">{{ person.name }}</a></h1>
    <ul class="tags">{% for tag in person.tags|split %}<li>{{ tag }}</li>{% endfor %}</ul>
    <address>
      Niels Bohr Institutet, Is og klima<br>
      Juliane Maries Vej 30<br>
      2100 København Ø<br>
      <br>
      Kontor: {{ person.room }}<br>
      Telefon: <a href="tel:{{ person.phone }}">{{ person.phone }}</a><br>
      E-mail: <a href="mailto:{{ person.email }}">{{ person.email }}</a>
    </address>        
  </div>
</li>
{% endfor %}
{% endblock %}
